<div class="background-container">
  <div class="background-overlay"></div>
  <div class="content">
    
    <nav class="navbar">
      <div class="drop">
        <div class="lifeStyle">
          Lifestyle<br>
          <span class="gym">
           FITNESS GYM
          </span>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Home</button>
        <div class="dropdown-content">
          <div class="dropdown-content">
            <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
          </div>
          
        </div>
      </div>
       
     
      
      <div class="dropdown">
        <button class="dropbtn">Destination</button>
        <div class="dropdown-content">
          <a href="#">Item 1</a>
            <a href="#">Item 2</a>
            <a href="#">Item 3</a>
        </div>
      </div>

    
    <div class="dropdown">
      <button class="dropbtn">Activites</button>
      <div class="dropdown-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
      </div>
    </div>
     
    <div class="dropdown">
      <button class="dropbtn">About Ecuador</button>
      <div class="dropdown-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Plan your trip</button>
      <div class="dropdown-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Contact</button>
      <div class="dropdown-content">
        <a href="#">Item 1</a>
        <a href="#">Item 2</a>
        <a href="#">Item 3</a>
      </div>
    </div>

  </nav>

    <div class="content">
      <div class="centre-cont">
         <span class="first-cont">GET 1 MONTH FOR FREE!</span> 
         <span class="sec-cont">SIGN UP FOR A SUBSCRIPTION NOW!</span>
      </div>

      <div class="signup">
           <button class="signup-btn" (click)="openModal()">SIGN UP NOW</button>
      </div> 

      <div class="slider-container">
  <div class="slider">
    <img *ngFor="let image of images; let i = index" [src]="image" [class.active]="currentIndex === i">
  </div>
  <div class="dots">
    <span *ngFor="let image of images; let i = index" (click)="changeSlide(i)" [class.active]="currentIndex === i"></span>
  </div>
</div>

      

      <div class="horizontal-box">
        <div class="compartment white-compartment">
          <div class="box-one">RECENT NEWS</div><br>
          <div class="news-item">
            <img src="../assets/thumb.jpg" class="news-image">
            <span class="news-text">MY OPINION ON  <br>DIFFERENT TYPES <br> OF WORKOUT <br>GEAR</span>
          </div>
          <div class="by">
            <span class="by-2">By </span> <span class="sarah">Sarah flscher</span><br><br>
           <span class="by-3">Posted on </span> <span class="oct">October 10, 2015</span>

          </div>
        </div>
        <div class="compartment red-compartment">
          <span class="special-promo">SPECIAL PROMO</span><br>
         <div class="lorem-dic"> <span class="lorem">Lorem ipsum dolor sit amet,</span><br> <span class="lorem">consectetur adipisicing elit. </span> <br> <span class="lorem">Suspendisse varius enlim in eros </span><br> <span class="lorem"> elementum tristique</span> </div> <br>
          <button class="price-btn">PRICING PLANS</button>
        </div>
        <div class="compartment blue-compartment">
          <span class="contact">CONTACT US</span><br>
          <div class="call"> Call us: +32 30 44 53 2</div><br>
          <div class="mail">Or send us an e-mail</div><br>
          <button class="cont-btn">CONTACT</button>
        </div>
      </div>
      
    </div>

  </div>
</div>
